*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #363332;
}
p{
    color: #363332;
}
.shell{
    max-width: 1300px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.collum2{
    flex-basis: 50%;
    min-width: 300px;
}
.collum2 img{
    max-width: 100%;
    padding: 75px 0;
   
}
.collum2 h1{
    font-size: 60px;
    line-height: 60px;
    margin: 30px 0;
}
.button{
    display: inline-block;
    background: #ccd2d3;
    color: #363332;
    padding: 10px 30px;
    margin: 50px 0;
    border-radius: 45px;
    transition: background 0.7s;
}

.button:hover{
    background: #7d8283;
}

.header{
    background: linear-gradient(rgb(255, 208, 170), #ff7011);
}
.header .row{
    margin-top: 40px;
}

.categories{
    margin: 50px 0;
}
.collum3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.collum3 img{
    width: 100%;
}
.small-shell{
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.collum4{
    flex-basis: 25%;
    padding: 15px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.7s;
}
.collum4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #363332;
}

.title::after{
    content: '';
    background: #ff7011;
    width: 850px;
    height: 5px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color:#363332;
    font-weight: normal;
}
.collum4 p{
    font-size: 16px;
}
.rating .fa{
    color: #7d8283;
}
.collum4:hover{
    transform: translateY(-7px);
}

/*offer*/
.offer{
    background: linear-gradient(rgb(255, 208, 170), #ff7011);
    margin-top: 50px;
    padding: 5px 0;
}

/*--Review--*/

.Review{
    padding-top: 75px;
}
.Review .collum3{
    text-align: center;
    padding: 35px 20px;
    cursor: pointer;
    transition: transform 0.7s;
}
.Review .collum3 img{
    width: 30px;
    margin-top: 20px;
}
.Review .collum3:hover{
    transform: translateY(-10px);
}
.Review .collum3 h3{
    font-weight: 500;
    font-size: 16px;
}
/*----brands---*/
.brands{
    margin: 50px auto;
}
.collum5{
    width: 160px;
}
.collum5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.collum5 img:hover{
    filter: grayscale(0%);
}

/*------footer-----*/

.footer{
    background: #000;
    color: #363332;
    font-size: 16px;
    padding: 20px 0 20px;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
}
.foot-collum1, .foot-collum2, .foot-collum3{
    min-width: 250px;
    margin-bottom: 10px;
}
.foot-collum1{
    flex-basis: 25%;
}
.foot-collum2{
    flex: 1;
    text-align: center;
}
.foot-collum2 img{
    width: 250px;
    margin-bottom: 10px;
}
.foot-collum3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #7d8283;
    height: 1px;
    margin: 10px 0;
}
.copyright{
    text-align: center;
}

.menuicon{
    width: 28px;
    margin-left: 20px;
    display: none;

}

/*-------Query Menu---*/

@media only screen and (max-width: 800px){
    
    nav ul{
        position: absolute;
        top: 170px;
        left: 0px;
        background: #000;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menuicon{
        display: block;
        cursor: pointer;
    }
}

/*------Products Page---*/

.row2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 3px solid #363332;
    padding: 5px;
}
select:focus{
    outline: none;
}

.pagebutton{
    margin: 0 auto 50px;
}
.pagebutton span{
    display: inline-block;
    border: 3px solid #363332;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.pagebutton span:hover{
    background: #ff7011;
    color: #fff;

}

/*---SingleProduct--*/

.singleprod{
    margin-top: 20px;
}
.singleprod .collum2 img {
    padding: 0px;
}
.singleprod .collum2{
    padding: 20px;
}
.singleprod h1{
    margin: auto;
}
.singleprod select{
    display: block;
    padding: 5px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    margin-right: 10px;
    border: solid;
}

/*-----Smallscreensize---*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .collum2, .collum3, .collum4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .collum2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .b-info p{
        display: none;
    }
}

/*---Basket----*/

.basket{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.b-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff7011;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td input{
    width: 30px;
    height: 25px;
    padding: 5px;
}
td a{
    color: #ff7011;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff7011;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*---account-----*/

.account{
    padding: 50px 0;
    background: #fff;
}
.formholder{
    background: #e0e9eb;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
}
.formholder span{
    padding: 0 10px;
    cursor: pointer;
    width: 100px;
    color: #363332;
    display: inline-block;
}
.formbutton{
    display: inline-block;
}
.formholder form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.5s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 3px solid #ccc;
}
form.btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
#LoginForm{
    left: -300px;
}
#RegistrationForm{
    left: 0px;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff7011;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 0.5s;
}